.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #EEEEEE;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@font-face {
  font-family: "Collegiate";
  src: local("Collegiate"), url(./COLLEGIA.ttf) format("truetype")
}

#fork-me {
  margin-top: 10px;
  background: black;
  border-radius: 15px;
  padding: 5px 10px;
}

#fork-me > a {
  color: white;
  font-size: 28px;
  text-decoration: none;
  font-family: "Collegiate", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#fork-me > a > img {
  width: 32px;
  height: 32px;
}

#fork-me > a > * {
  margin: 0 5px;
}
