.game-tile {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border: 1px solid gray;
  position: relative;
}

.ship-tile {
  background: #888;
  width: 100%;
  height: 100%;
}

.ship-tile-N {
  border-radius: 50%;
  height: 200%;
  transform: translateY(-50%);
}

.ship-tile-S {
  border-radius: 50%;
  height: 200%;
  transform: translateY(0);
}

.ship-tile-E {
  border-radius: 50%;
  width: 200%;
  transform: translateX(0);
}

.ship-tile-W {
  border-radius: 50%;
  width: 200%;
  transform: translateX(-50%);
}

.shot {
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 5px);
  top: calc(50% - 5px);
  width: 10px;
  height: 10px;
  z-index: 99;
}

.shot.miss {
  background: black;
}

.shot.hit {
  background: red;
}
